.section-work {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: $color-white;
}

.section-about {
    height: 100vh;
    width: 100%;
    background-color: $color-white;
}