.navigation {
    z-index:1000;
    &_logo-box {
        top: 5rem;
        left: 5rem;
        position: fixed;
    }

    &_logo {
        height: 4rem;
    
        &:hover {
            transform: rotate(360deg);
            transition: all 1s;
        }
    }

    &_checkbox {
        display: none;
    }

    &_button {
        background-color: none;
        height: 3.5rem;
        width: 3.5rem;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }
    
    &_nav {
        position: fixed;
        top: 6rem;
        right: 3rem;
        opacity: 0;
        transition: transform .8s ease;
    }
    
    &_list {
        list-style: none;
        text-align: right;
        right: 3rem;
        width: 100%;
    }

    &_item {
        margin: 1rem;
    }

    &_link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 1rem;
            font-weight: 300;
            padding: .25rem 1rem;
            color: black;
            text-decoration: none;
            text-transform: lowercase;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            color: $color-primary-light;
            transform: translateX(.25rem);
        }
    }


    &_checkbox:checked ~ &_nav {
        opacity: 1;
        transform: translate(0, 2.5rem);
    }

    &_icon {
        position: relative;
        top: 1.75rem;
        right: 1.75rem;
        margin-top: 3.5rem;

        
        &::before,
        &:after {
            width: 4rem;
            height: 2px;
            background-color: $color-secondary-dark;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.4rem; }
        &::after { top: .4rem; }
    }

    &_button:hover &_icon::before{
        top: -.6rem;
    }

    &_button:hover &_icon::after{
        top: .6rem;
    }

    &_checkbox:checked + &_button &_icon {
        background-color: none;
    }

    &_checkbox:checked + &_button &_icon:before {
        top:0;
        transform: rotate(135deg);
    }
    
    &_checkbox:checked + &_button &_icon:after {
        top: 0;
        transform: rotate(-135deg);
    }
}