@mixin center-hor-ver {
    position: absolute;
    top:50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
