$color-primary-light: #00ffa2;
$color-primary-mid: #069359;
$color-primary-dark: #03442b;

$color-secondary-light: #e3e3e3;
$color-secondary-mid: #757575;
$color-secondary-dark: #2e2e2e;

$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
