{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/static/img/Favicon-mint-32px.png"/>
    <title>datuinr</title>
</head>
<body>
    <div class="navigation">
        <div class="nativation_progress-container">
            <div class="navigation_progress-bar" id="myBar"></div>
        </div>
        <input type="checkbox" class="navigation_checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation_button">
            <span class="navigation_icon">&nbsp;</span>
        </label>

        <nav class="navigation_nav">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="#work" class="navigation_link">Work</a></li>
                <li class="navigation_item"><a href="/about" class="navigation_link">About</a></li>
                <li class="navigation_item"><a href="/contact" class="navigation_link">Contact</a></li>
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="header_logo-box "> 
            <img src="static/img/Logo-mint-160px.svg" alt="Logo" class="header_logo">
            <h1 class="heading-primary">
                <p class="heading-primary--text-first">Hello,</p>
                <p class="heading-primary--text-second">I am</p>
                <p class="heading-primary--text-last">Retchiele.</p>
            </h1>
        </div>
    </header>

    <section class="section-work" id="work">
        <div class="projects">
            <div class="projects_inner">
                <div class="projects_section">
                    <h2>project 1</h2>
                </div>
                <div class="projects_section">
                    <h2>project 2</h2>
                </div>
                <div class="projects_section">
                    <h2>project 3</h2>
                </div>
            </div>
        </div>
    </section>
</body>
</html>