{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/static/img/Favicon-mint-32px.png"/>
    <title>datuinr</title>
</head>
<body>
    <div class="navigation">
        <input type="checkbox" class="navigation_checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation_button">
            <span class="navigation_icon">&nbsp;</span>
        </label>

        <nav class="navigation_nav">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="/about" class="navigation_link">About</a></li>
                <li class="navigation_item"><a href="/work" class="navigation_link">Work</a></li>
                <li class="navigation_item"><a href="/contact" class="navigation_link">Contact</a></li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="header_logo-box"> 
            <img src="img/Logo-mint-160px.png" alt="Logo" class="header_logo">
        </div>
    </header>
</body>
</html>