{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/static/img/Favicon-mint-32px.png"/>
    <title>datuinr</title>
</head>
<body>
    <div class="navigation">
        <div class="nativation_progress-container">
            <div class="navigation_progress-bar" id="myBar"></div>
        </div>
        <input type="checkbox" class="navigation_checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation_button">
            <span class="navigation_icon">&nbsp;</span>
        </label>

        <nav class="navigation_nav">
            <ul class="navigation_list">
                <li class="navigation_item"><a href="/work" class="navigation_link">Work</a></li>
                <li class="navigation_item"><a href="/about" class="navigation_link">About</a></li>
                <li class="navigation_item"><a href="/contact" class="navigation_link">Contact</a></li>
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="header_logo-box"> 
            <img src="static/img/Logo-mint-160px.svg" alt="Logo" class="header_logo">
            <h1 class="heading-primary">
                <p class="heading-primary--text-first">Hello,</p>
                <p class="heading-primary--text-second">I am</p>
                <p class="heading-primary--text-last">Retchiele.</p>
            </h1>
        
        </div>
    </header>


    <section class="section-about">
        <div class="margin-bottom-big">
            <h1> about.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, labore. Dolorum debitis rem optio repellat maiores. Unde, veniam! Temporibus eum voluptatem saepe nostrum ea consectetur eligendi assumenda pariatur libero commodi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam a neque pariatur corrupti sunt nam vitae? Tempora corrupti ut dolorem sequi consectetur, id eaque, quam molestias assumenda a, laudantium quasi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, labore. Dolorum debitis rem optio repellat maiores. Unde, veniam! Temporibus eum voluptatem saepe nostrum ea consectetur eligendi assumenda pariatur libero commodi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam a neque pariatur corrupti sunt nam vitae? Tempora corrupti ut dolorem sequi consectetur, id eaque, quam molestias assumenda a, laudantium quasi!</p>

            
        </div>
    </section>
</body>
</html>