*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; //1.5rem > 15px/16
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary-mid;
    color: $color-white;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: $color-secondary-mid; 
    max-height: 1px;
}

::-webkit-scrollbar-track {
    background: $color-white; 
}
