body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    // line-height: 1.7;
    color: $color-secondary-dark;
}

.heading-primary {
    text-transform: lowercase;
    position: absolute;
    top: 10rem;
    font-size: 8rem;
    font-weight: 700;
    color: $color-secondary-dark;
    // animation-name: appear;
    animation-duration: 6s;
    animation-timing-function: ease;

    &:hover {
        // transform:scale(1.5);
        transform: translateY(-.5rem);
    }
}

.heading-link {
    color: $color-secondary-dark;
    text-decoration: none;
    
    &:hover,
    &:focus {
        color: $color-primary-light;
    }
}

.heading-secondary {
    text-transform: lowercase;
    position: absolute;
    top: 18.25rem;
    font-size: 2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-mid);
    -webkit-background-clip: text;
    color: transparent; 
    // animation-name: appear;
    animation-duration: 6s;
    animation-timing-function: ease;

}

    // &--text-first { 
    //     display: block;
    //     font-size: 4rem;
    //     font-weight: 700;
    //     -webkit-text-stroke: 1px $color-black;
    //     color: transparent;
    //     animation-name: appear;
    //     animation-duration: 2s;
    //     animation-timing-function: ease;
    // }
    
    // &--text-second { 
    //     display: block;
    //     font-size: 4rem;
    //     font-weight: 600;
    //     -webkit-text-stroke: 1px $color-black;
    //     color: transparent;
    //     animation-name: appear;
    //     animation-duration: 4s;
    //     animation-timing-function: ease;
    // }
    
    // &--text-last { 
    //     display: block;
    //     font-size: 6rem;
    //     font-weight: 600;
    //     animation-name: appear;
    //     animation-duration: 6s;
    //     animation-timing-function: ease;
    // }