body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    // line-height: 1.7;
    color: $color-secondary-dark;
}

.heading-primary {
    color: $color-secondary-dark;
    text-transform: lowercase;
    backface-visibility: hidden;
    // position: relative;
    // top: 8rem;
    // left: 5rem;

    &--text-first { 
        display: block;
        font-size: 4rem;
        font-weight: 700;
        -webkit-text-stroke: 1px $color-black;
        color: transparent;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease;
    }
    
    &--text-second { 
        display: block;
        font-size: 4rem;
        font-weight: 600;
        -webkit-text-stroke: 1px $color-black;
        color: transparent;
        animation-name: appear;
        animation-duration: 4s;
        animation-timing-function: ease;
    }
    
    &--text-last { 
        display: block;
        font-size: 4rem;
        font-weight: 600;
        animation-name: appear;
        animation-duration: 6s;
        animation-timing-function: ease;
    }
}